@using Date_Calculator.Models.Shared
@model DateToDateResultViewModel

<header class="headerLight">Date-to-Date</header>

<div class="viewContainer">
    <div id="dateToDateResultContainer"">
        <p class="infoBoxHeader">Result</p>
        <div class="infoContainerLight">
            <p id="daysResult" class="textLight">@Model.DaysResult</p>
            @if(Model.WeeksResult.Length != 0 || Model.MonthsResult.Length != 0 || Model.YearsResult.Length != 0)
            {
                <p id="otherFormats">Other formats</p>
                @if(Model.WeeksResult.Length != 0){ <span class="tableRowLight textSize12">@Model.WeeksResult</span> }
                @if(Model.MonthsResult.Length != 0){ <span class="tableRowLight textSize12">@Model.MonthsResult</span> }
                @if(Model.YearsResult.Length != 0){ <span class="tableRowLight textSize12">@Model.YearsResult</span> }
            }
        </div>
    </div>
    
    <div id="dateToDateInputContainer">
        <form asp-controller="DateToDate" asp-action="POST">
                <div class="infoContainerLight">
                    <div class="inputRow inputRowLight">
                        <span class="textLight textSize12">Start Date</span>
                        <input type="date" name="startDate" id="startDate" class="inputLight dateInput" onchange="saveDateToDateInput()" />
                    </div>
                    <div class="inputRow inputRowLight lastItem">
                        <span class="textLight textSize12">End Date</span>
                        <input type="date" name="endDate" id="endDate" class="inputLight dateInput" onchange="saveDateToDateInput()" />
                    </div>
                </div>
                <input type="submit" value="Calculate" class="buttonLight" id="buttonDateToDateCalculate" />
        </form>
    </div>
</div>

<partial name="_TabBarPartial" model="TabValue.DateToDate" />